@import "tailwindcss";

/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Custom Font - RailwayGank */
@font-face {
  font-family: "FalseNine";
  src: url("/fonts/RailwayGank-DEMO.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Falsenine-mainheading";
  src: url("/fonts/01f440eff849863a237690075ef515ef.eot");
  src: url("/fonts/01f440eff849863a237690075ef515ef.ttf") format("truetype");
  src: url("/fonts/01f440eff849863a237690075ef515ef.woff") format("woff");
  src: url("/fonts/01f440eff849863a237690075ef515ef.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-luna: #cec8bc;
  --color-night: #0d0208;
  --color-flame: #ff1800;
  --color-iron: #d8d8d8;

  /* Font families as CSS variables for easy access */
  --font-falsenine: "FalseNine", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
  --font-falsenine-mainheading: "Falsenine-mainheading", sans-serif;
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Utility classes for font switching */
.font-falsenine {
  font-family: var(--font-falsenine);
}

.font-montserrat {
  font-family: var(--font-montserrat);
}

.font-falsenine-mainheading {
  font-family: var(--font-falsenine-mainheading);
}
