@import "tailwindcss";

@font-face {
  font-family: "FalseNine";
  src: url("/fonts/RailwayGank-DEMO.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-luna: #cec8bc;
  --color-night: #0d0208;
  --color-flame: #ff1800;
  --color-iron: #d8d8d8;
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Apply RailwayGank font globally */
body {
  font-family: "FalseNine", sans-serif;
}
